.link {
  fill: none;
  stroke: blue;
  stroke-width: 1.5px;
}

.link.Enemy {
  stroke: red;
}

.nodeLabel {
  text-anchor: middle;
  font-weight: bold;
  pointer-events: none;
  font-size: 15px;
}

.labelText {
  font: 16px arial;
  pointer-events: none;
  text-anchor: start;
  color: black;
}

b {
  font-weight: bold;
  text-decoration: underline;
}

#container {
  width: 780px;
  height: 630px;
  background: whitesmoke;
}